In [3]:
x = [1,2,3,4]
x

[1, 2, 3, 4]

In [4]:
16/3

5.333333333333333

In [8]:
# Indentation
def five(x):
    x = 10
    return x
print(five(x))

10

In [9]:
x = 1

if x > 3:
    print("case1")
else:
    print("case2")

case2

In [13]:
def compare_to_five(x):
    if x > 5:
        return "greater"
    elif x < 5:
        return "lesser"
    else:
        return "equal"

In [18]:
print(compare_to_five(1))

lesser

In [19]:
def simple():
    print("my first function")

In [20]:
simple()

my first function

In [21]:
def plus_ten(a):
    return a+10

In [22]:
plus_ten(10)

20

In [23]:
plus_ten(15)

25

In [24]:
def plus_ten(a):
    result = a+10
    print("outcome")
    return result

In [25]:
plus_ten(2)

outcome

12

In [26]:
def wage(w_hour):
    return w_hour * 20
def with_bonus(w_hour):
    return wage(w_hour) + 25

In [28]:
wage(8), with_bonus(10)

(160, 225)

In [29]:
def plus_ten(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save More!"

In [30]:
plus_ten(120)

130

In [31]:
plus_ten(20)

'Save More!'

In [32]:
def subtract_bc(a,b,c):
    result = a-b*c
    print ('parameter a equals',a)
    print ('parameter b equals',b)
    print ('parameter c equals',c)
    return result

In [33]:
subtract_bc(10,20,30)

parameter a equals 10
parameter b equals 20
parameter c equals 30

-590

In [34]:
round(2.555,2)

2.56

In [35]:
p = ['john', 'cat','dog']
print ("the first element in the list p is ",p[0],'.')

the first element in the list p is  john .

In [36]:
p.append("kate")

In [37]:
p

['john', 'cat', 'dog', 'kate']

In [41]:
p.extend(["paw",'pig'])

In [42]:
p

['john', 'cat', 'dog', 'kate', 'paw', 'pig', 'paw', 'pig']

In [43]:
del p[6]

In [44]:
del p[6]

In [45]:
p

['john', 'cat', 'dog', 'kate', 'paw', 'pig']

In [46]:
len(p)

6

In [47]:
del p[1]

In [48]:
p

['john', 'dog', 'kate', 'paw', 'pig']

In [49]:
p[-3] = "potty"

In [50]:
p

['john', 'dog', 'potty', 'paw', 'pig']

In [51]:
a,b,c = 1,2,3

In [52]:
b

2

In [53]:
(age,year_of_school) = "13,47".split(',')

In [54]:
age

'13'

In [55]:
year_of_school

'47'

In [56]:
def square_info(x):
    a = x**2
    b = x*4
    print("Area and perimeter")
    return a,b
square_info(5)

Area and perimeter

(25, 20)

In [59]:
even = [2,4,6,8,10,12,14,16,18,20]

In [60]:
for n in even:
    print (n)

2
4
6
8
10
12
14
16
18
20

In [61]:
# for a single line execution
for n in even:
    print (n, end =" ")

2 4 6 8 10 12 14 16 18 20

In [65]:
#while loop
x = 2
while x <= 20:
    print (x)
    x += 2

2
4
6
8
10
12
14
16
18
20

In [67]:
x = 2
while x <= 20:
    print (x, end= " ")
    x += 1

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [68]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [69]:
for n in range(20):
    print (2**n, end = " ")

1 2 4 8 16 32 64 128 256 512 1024 2048 4096 8192 16384 32768 65536 131072 262144 524288

In [71]:
for n in range(20):
    if n % 2 == 0:
        print(n, end= " ")
    else:
        print ("odd", end = " ")

0 odd 2 odd 4 odd 6 odd 8 odd 10 odd 12 odd 14 odd 16 odd 18 odd

In [72]:
def count(numbers):
    total = 0
    for x in numbers:
        if x <= 20:
            total += 1
    return total

In [73]:
list_1 = [2,5,2,21]

In [74]:
count(list_1)

3

In [75]:
# iteration over dictionaries
prices = {"toffee":4, "gems":5,"choco":10}
quantity = {"toffee":10,"gems":2,"choco":1}
money_spent = 0
for i in prices:
    money_spent = money_spent +(prices[i]*quantity[i])

In [76]:
money_spent

60